{% extends 'base.html' %}
{% block content %}
<meta http-equiv="refresh" content="3,{{ url_for('generate') }}">
<!-- Header -->
<div class="titlediv">
  <h1><a class="{{ theme }}-t-red button" href="{{ url_for('index') }}"><b>{{ title }}</b></a></h1>
</div>
<!-- main content -->
<!-- chat section -->
<div class="borderc chatdiv {{ theme }}-light">
    <!-- end chat-header -->
    {% for i in range(generated_text.shape[0]) %}
    <div>
      <ul>
          {% if generated_text.at[i,'user'] == 'you' %}
          <!-- user-chat -->
          <li class="clearfix">
            <div class="align-right">
              <span>{{ post_time+' '+period }}, {{ generated_text.at[i,'month'] }} {{ generated_text.at[i,'day'] }}</span> &nbsp;
              <span>You</span> <i class="{{ theme }}-t-green fa fa-circle"></i>
              &nbsp;
            </div>
            <div class="speech-bubble-right float-right">
              {{ generated_text.at[i,'text'] }}
            </div>
          </li>
          {% else %}
          <!-- chatbot-chat -->
          <li class="clearfix">
            <div>
              &nbsp;
              <span><i class="{{ theme }}-t-green fa fa-circle online"></i> {{ chatbot }}</span>
              <span>{{ post_time+' '+period }}, {{ generated_text.at[i,'month'] }} {{ generated_text.at[i,'day'] }}</span>
            </div>
            <div class="speech-bubble-left float-left">
              {{ generated_text.at[i,'text'] }}
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- end chat-history -->
      {% endfor %}
    <!-- end chat -->
  </div>
  <!-- end chat section -->

  <div class="spacer"></div>

  <!-- user chat section -->
    <div class="inputdiv center">
      <form method="POST" action="/~">
        <input class="borderc {{ theme }}-light inputbox" style="width: 90%;" type="text" id="generate" name="generate" placeholder=" say hi to {{ chatbot }}!" autocomplete="off" required>
        <button class="borderc {{ theme }}-action button" style="width: 8%;" type="submit">
          <i class="white fa fa-paper-plane"></i></button>
      </form>
    </div>
  <!-- end of section -->

  {% endblock %}
